<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"> 
    </head> 
    <body> 
        <h1> This is the UKDA chatbot for data management questions </h1> 
        <form action = "http://localhost:5000/chatbot" method= "post" accept-charset="UTF-8">  
            <textarea rows = 1 cols=80 name="question"> 
                {{ q }}
            </textarea>

            <p><input type="submit" value = "submit" /></p> 
        </form>
       
        <p> {{ answer }}</p>
    </body> 
</html> 
